.rodape {
  background-image: url('../assets/img/fundo.png');
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 4vw;
  box-sizing: border-box;
  user-select: none;
  pointer-events: none;
  z-index: 5;
}

.ventilacao {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0));
  background-color: rgb(56, 56, 56);
  width: 1.2vw;
  height: 100%;
  border-radius: 2px 2px 0 0;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.6);
}